<!DOCTYPE html>
<html lang="en" ng-app="rubber-ducky-store">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rubber Ducky Store</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h1>Welcome to Rubber Ducky Store</h1>
      <p>Your one-stop rubber ducky depot!</p>
    </div>

  <div class="container" ng-controller="CategoriesShowController as categoriesShowCtrl">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal" ng-submit="categoriesShowCtrl.createCategory()">
            <fieldset>

              <!-- Form Name -->
              <legend>Add New Category</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Category Name</label>
                <div class="col-md-4">
                <input id="name" ng-model="categoriesShowCtrl.newCategory.name" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Category Description</label>
                <div class="col-md-4">
                <input ng-model="categoriesShowCtrl.newCategory.description" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label">Save Category</label>
                <div class="col-md-4">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    <p><b>categoriesShowCtrl.newCategory:</b> {{categoriesShowCtrl.newCategory}}</p>
    <input ng-show="editing" ng-model="category.name" type="text" class="form-control" placeholder="New category name" ng-model="categoriesShowCtrl.newCategory.name">
    <input ng-show="editing" ng-model="category.description" type="text" class="form-control" placeholder="New category description" ng-model="categoriesShowCtrl.newCategory.description">

  <input type="text" class="form-control" ng-model="searchText" placeholder="Search Categories">
  <div ng-repeat="category in categoriesShowCtrl.categories | orderBy: 'name' | filter: searchText" class="row">

        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">

            <!-- begin album internal row -->
              <div class="row">
                <div class="col-md-3 col-xs-12 thumbnail">
                  <img src="images/800x800.png" alt="album image">
                </div>

                <div class="col-md-9 col-xs-12">
                  <ul class="list-group form-inline">
                    <li class="list-group-item">
                      <h4 class="inline-header">Category Name:</h4>
                      <span ng-hide="editing">{{category.name}}</span>
                      <input ng-show="editing" ng-model="category.name" type="text" class="form-control input-md">
                    </li>

                    <li class="list-group-item">
                      <h4 class="inline-header">Product Name:</h4>
                      <span ng-hide="editing">{{category.description}}</span>
                      <input ng-show="editing" ng-model="category.description" type="text" class="form-control input-md">
                    </li>

                    <li class="list-group-item">
                      <h4 class="inline-header">Product Description:</h4>
                      <span ng-hide="editing">{{category.Product.description}}</span>
                      <input ng-show="editing" ng-model="category.name" type="text" class="form-control input-md">
                    </li>
                  </ul>
                </div>
              </div>

              <div class='panel-footer'>
                <div class='panel-footer'>
                  <button class='btn btn-danger' ng-click="categoriesShowCtrl.deleteCategory(category)">Delete Category</button>
                  <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Category</button>
                  <button class='btn btn-success' ng-show="editing" ng-click="categoriesShowCtrl.editCategory(category); editing = false">Save Changes</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>
